<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klassentabelle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/table.css') }}">
</head>
<body>

    <table class="content-table">
        <thead>
          <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Postleitzahl</th>
            <th>Straße</th>
            <th>Hausnummer</th>
            <th>Klassenlehrer</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr>
                <td>{{ student['Vorname'] }}</td>
                <td>{{ student['Nachname'] }}</td>
                <td>{{ student['PLZ'] }}</td>
                <td>{{ student['Straße'] }}</td>
                <td>{{ student['Hausnummer'] }}</td>
                <td>{{ student['Klassenlehrer'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="container">
        <div id="data">
            <input type="text" name="name" id="name" placeholder="Vorname">
            <input type="text" name="surname" id="surname" placeholder="Nachname">
            <input type="number" name="postcode" id="postcode" placeholder="Postleitzahl">
            <input type="text" name="street" id="street" placeholder="Straße">
            <input type="number" name="number" id="housenumber" placeholder="Hausnummer">
            <input type="text" name="teacher" id="teacher" placeholder="Lehrer/in">
            <button>Hinzufügen</button>
        </div>
      </div>

      <script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
</body>
</html>